<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/assets/favicon.ico') }}">
    <title>nixfastapi</title>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen">
    <h1
    class="text-3xl font-bold text-blue-500"
    >Hello World</h1>
    </div>
</body>
</html>
